menu "Device Configuration"

config DEVICE_NAME
    string "Device name"
    default "SCM1"
    help
        Device name for GW identify

config CLIENT_ID
    string "Client ID"
    default "758"
    help
        Each ECU ID for GW identification

config PROJECT_VER
    string "Project Version"
    default "1.0.1"
    help 
        this also need update when new Firemare integrate

endmenu
