menu "Device Configuration"

config DEVICE_NAME
    string "Device name"
    default "SCM1"
    help
        Device name for GW identify

config CLIENT_ID
    string "Client ID"
    default "758"
    help
        Each ECU ID for GW identification

endmenu
